body {
    font-family: Arial,sans-serif;
}

.table table, td, th {
    border-right: 1px solid white;
    border-collapse: collapse;
    text-align: left;
}

.table table {
    margin: auto;
}

.align-top {
    vertical-align: top;
}

.table  {
    font-size: .9em;
    overflow-x: auto;
}

.table table {
    width: 900px;
}

.table thead {
    background-color: #cce3f1;
}

.table td, th {
    padding: 15px 7px;
}

.muted-bg {
    background-color: #eee;
}